.login-page {
    height: 100vh;
    width: 100%;
    padding: 16px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.login-page .title {
    text-align: center;
    margin-bottom: 36px;
}

.title h3 {
    color: #656464;
    margin-top: 12px;
    font-weight: 400;
}

.login-buttons {
	display: flex;
	flex-direction: column;
    align-items: center;
}
.login-provider-button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20em;
	height: 3em;
	border: 1px solid #995b5b;
	border-radius: 5px;
	margin-bottom: 1em;
	background-color: #ffffff;
	color: #222222;
	cursor: pointer;
	transition: transform 0.5s ease-in-out;
}
.login-provider-button:hover{
	transform: scale(1.05);
}
.login-provider-button img{
	width: 1.6em;
	height: 1.6em;
	margin-right: 0.5em;
}